#moto{
    position: relative;
    background-color: rgb(246, 243, 241);
    padding: 15px;
    top: 10px;
    text-align: center;
    font-size: 25px;
    color: #550873;

}
.img1{      
    position: relative;
    left: 5%;
    top: 20px;  
    width: 90%;           
}