<div class="container">
    <div class="titlu">
  
      <img src="../../assets/img/logo.png" class="img2" alt="logo">  
      <h1>Haruki 3D Printing</h1>
    </div>
      <ul class="nav">
          <li class="nav-item">
              <a class="nav-link" routerLink="/home">Home</a>
            </li>
          <li class="nav-item"  >
              <a class="nav-link" style="display: none;" id="register-meu" routerLink="/register">Register</a>
            </li>
          <li class="nav-item"  >
            <a class="nav-link" style="display: none;" id="cont-login" routerLink="/login">Login</a>
          </li>
          <li class="nav-item" >
              <a   class="nav-link" style="display: none;" id="contul-meu" routerLink="/cont">Contul meu</a>
            </li>
            <li class="nav-item" >
              <a  class="nav-link" style="display: none;" id="cosul-meu" routerLink="/cos">Cosul de cumparaturi</a>
            </li>
            <li class="nav-item" >
              <a  class="nav-link" style="display: none;" id="pagina-angajati" routerLink="/form">Pagina Angajati </a>
            </li>
         </ul> 
       
  </div>
  
