


    <div class="title2">
      <p>{{date | date}}</p>
     <p> {{ date | date:'shortTime' }}</p>
    </div>
    <div id="mySidenav" class="sidenav">
        <a (click)="logout()" >Logout</a>
      </div>
      

    <ul class ="Meniu">
        <li class="nav-item1" *ngIf="role === 'Executant'">
            <a class="nav-link" routerLink="/executant">Executant</a>
          </li>
        <li class="nav-item1" *ngIf="role === 'Proiectant'">
            <a class="nav-link" routerLink="/proiectant">Proiectant</a>
          </li>
    </ul> 

    
    