.container{
    visibility:hidden;
}
.title2{
  color: rgb(0, 4, 7);
  text-shadow:
  0 0 7px rgb(56, 7, 66),
  0 0 10px rgb(168, 5, 59),
  0 0 21px rgb(103, 15, 203),
  0 0 42px rgb(31, 30, 30),
  0 0 82px #f09,
  0 0 92px #f09,
  0 0 102px rgb(28, 3, 77),
  0 0 151px rgb(49, 9, 68);
}
#mySidenav a {
    position: absolute;
    left: -137px;
    transition: 0.3s;
    padding: 15px;
    width: 250px;
    text-decoration: none;
    font-size: 15px;
    color: rgb(8, 2, 2);
    border-radius: 0 5px 5px 0;
    
  }
  
  #mySidenav a:hover {
    left: 0;
    background-color: #555
  }

.Meniu  {
    margin-top: 60px;
    color: rgb(9, 0, 2);
    display:flexbox;
    list-style: none;
    top: 15px;
    font-weight: bold;
    font-size: 18px;
}
.Meniu a:visited{
  color: rgb(8, 1, 1);
  background-color:rgb(47, 48, 48);
}
.Meniu a:hover{
  color: rgb(122, 2, 2);
  background-color:rgb(245, 179, 193);
}