table {
    position:relative;
        top: 20px;
    width: 100%;
  }
  
  th.mat-sort-header-sorted {
    color: black;}
    button{
        position:relative;
        top: 30px;
        left: 35%;
    }
button{
        margin: auto;
        width: 150px;
        margin-top: 20px;
        padding-left: 15px;
        padding-right: 15px;
        background-color: #8121a7;
        font-size: 20px;
        color: white;
       // border: blueviolet;
    }
    