.thumb {
    width: auto;
    height: 125px;
    display: block; 
}

form .progress {
    line-height: 15px;
}

.progress {
    display: inline-block;
    width: 100px;
}

.progress div {
    font-size: smaller;
    background: orange;
}