<body ng-app="fileUpload" ng-controller="MyCtrl">
    <form name="myForm">
      <fieldset>
        <legend>Upload on form submit</legend>
        Username:
        <input type="text" name="userName" ng-model="username" size="31" required>
      
        <br>Photo:
        <input type="file" ngf-select ng-model="picFile" name="file"    
               accept="image/*" ngf-max-size="2MB" required
               ngf-model-invalid="errorFiles">
  
        <button ng-disabled="!myForm.$valid" 
                ng-click="uploadPic(picFile)">Submit</button>
  
  
      </fieldset>
      <br>
    </form>
  </body>