<div class="container1">
 
  
    <table mat-table [dataSource] = "imprimanta" class="mat-elevation-z8 demo-table table">
      <ng-container matColumnDef="id">
        <th mat-header-cell *matHeaderCellDef>ID</th>
        <td mat-cell *matCellDef="let element">{{element.idImprimanta}}</td>
      </ng-container>
  
      <ng-container matColumnDef="nume">
        <th mat-header-cell *matHeaderCellDef>Nume</th>
        <td mat-cell *matCellDef="let element">{{element.nume}}</td>
      </ng-container>
  
      <ng-container matColumnDef="dimensiunepat">
        <th mat-header-cell *matHeaderCellDef>Dimensiune Pat</th>
        <td mat-cell *matCellDef="let element">{{element.dimensiunePat}}</td>
      </ng-container>
      <ng-container matColumnDef="status">
        <th mat-header-cell *matHeaderCellDef>Status</th>
        <td mat-cell *matCellDef="let element">{{element.status}}</td>
      </ng-container>

      <ng-container matColumnDef="edit">
        <th mat-header-cell *matHeaderCellDef>Edit</th>
        <td mat-cell *matCellDef="let element" (click)="editImprimanta(element.idImprimanta, element.status)">
          <mat-icon>
            edit
          </mat-icon>
        </td>
      </ng-container>
  
      <ng-container matColumnDef="delete">
        <th mat-header-cell *matHeaderCellDef>Delete</th>
        <td mat-cell *matCellDef="let element" (click)="deleteImprimanta(element.idImprimanta)">
          <mat-icon>
            delete
          </mat-icon>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>